body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
  }
  
  input, select, button {
    padding: 8px;
    margin: 10px;
    font-size: 1em;
  }
  
  #palabraSecreta {
    font-size: 2em;
    letter-spacing: 10px;
    margin: 20px;
  }
  
  #puntaje {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  #ahorcadoVisual {
    height: 200px;
    margin: 20px auto;
    background-color: #ddd;
    font-size: 4em;
    margin-top: 20px;
    transition: all 0.3s ease;
  }

  